<?js
var data = obj;
var self = this;
?>

<?js if (data.readme) { ?>
    <a href="https://github.com/felixpalmer/procedural-gl-js">
        <img style="position: absolute; top: 0; right: 0; border: 0; z-index: 10000" src="https://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub">
    </a>
    <section class="readme">
        <article><?js= data.readme ?></article>
    </section>
<?js } ?>
